/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');

/* General styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.about-content h1, .profile h2 {
    font-family: 'Montserrat', sans-serif;
}

/* About Page Styling */
.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about-container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.about-content {
    flex: 1;
    background-color: #008253;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.about-content h1 {
    font-size: 2.5rem; /* Adjusted size */
    font-weight: 700;  /* Bold */
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.2rem; /* Adjusted size */
    font-weight: 400;  /* Regular */
    margin-bottom: 20px;
}

.learn-more-button {
    background-color: #f0f0f0;
    color: #008253;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.learn-more-button:hover {
    background-color: #e0e0e0;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profiles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.profile-container {
    display: flex;
    align-items: center;
    width: 95%;
    gap: 20px;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    background-color: #ffffff;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    height: 300px;
}

.profile {
    flex: 1;
    color: #333;
    text-align: center;
}

.profile h2 {
    font-size: 2rem;
    font-weight: 700; /* Bold */
    margin-bottom: 10px;
}

.profile p {
    font-size: 1rem;
    font-weight: 400; /* Regular */
}

.profile-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    width: 300px;
    height: 300px;
    border-radius: 35px 0 35px 0; /* Change this to adjust the curvature of the corners */
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    filter: grayscale(100%);
}
